# The hash (#) is the comment character

# Typical backup file patterns
*~     # Anything that ends ina tilde.
\#*#   # Anything that begings and ends with as hash. (Uses a backslash)
       # escape to allow the hash to not be recognized as a comment
*.bak  # Anything that ends with the extension ".bak".
